.button {
    display: inline-block;
    background: none;
    font-size: 30px;
    color: #444;
    border: 1px solid #444;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    outline: inherit;
    margin-bottom: 2%;
    transition: 0.2s;
}



.button:focus,
.button:hover {
    transform: scale(1.2);
    background: rgb(254, 255, 156);
    background: linear-gradient(120deg, rgba(254, 255, 156, 1) 0%, rgba(255, 126, 185, 1) 48%, rgba(122, 252, 255, 1) 100%);
    border: none;
    color: white;


}