.color-picker {
    padding: 5px;
    margin: 5px;
    height: 50px;
}
.color-picker input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    }

.color-picker label {
    display: inline-block;
    content: ' ';
    padding: 15px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.color-picker input[type="radio"]:checked + label {
    border: 3px solid rgb(148, 146, 146);
    transform: scale(1.2);
}


.color-picker label:hover,
.color-picker input[type="radio"]:focus + label {
    border: 3px solid rgb(148, 146, 146);;
    transform: scale(1.2);
  }

input[name=title] {
    font-weight: bold;
 
}

.post-it-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 2%;
}

