body {
    color: rgb(54, 53, 53);
    margin: 0 auto;
    text-align: center;
    margin-bottom:20px;;
  
  }
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    column-gap: 10px;
  
  }
  
  h1 {
    padding-bottom: 5px;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    background: #feff9c;
    background: -webkit-linear-gradient(120deg, #ff7eb9 0%, #f8caff 50%, #7afcff 75%, #feff9c 100%);
    background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .button-wrapper {
    height: 70px;
  }