body {
    color: rgb(54, 53, 53);
    margin: 0 auto;
    text-align: center;
    margin-bottom:20px;;
  
  }
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    column-gap: 10px;
  
  }
  
  h1 {
    padding-bottom: 1%;
    text-transform: uppercase;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  